body{
    background-image: url(/e1de242f1bf39ff74e5de24f8282fe08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    color:blue;
    font-size: large;

}
#i1{
    width:2000px ;
    height: 250px;
}