body{
    background-image: url(/1.webp);
    background-repeat: no-repeat;
background-size: cover;
}
    
 #p1{ 
    font-style: italic;
    font-size: large;
    color:rgb(50, 50, 206);
    margin: 6px;
    border:5px solid black;
    padding:30px;
    border-radius: 6px;
    
}
#i1{
    width:600px;
    height: 300px;
}
#i2{
    width:600px;
    height: 300px;
}
#i3{
    width:600px;
    height: 300px;
}
#i4{
    width:600px;
    height: 300px;
}
